*,
*::before,
*::after {
	box-sizing : border-box;
	border     : none;
	outline    : 0;
	background : transparent;
	font       : inherit;
	margin     : 0;
	padding    : 0;
	color      : inherit;
	line-height: inherit;
}

:root {
	--color--primary: rgb(64, 79, 83);
}

pre {
	overflow: auto;
}



body {
	font-size  : 14px;
	color      : #555;
	background : rgb(51, 70, 75);
	font-family: sans-serif;
}

.button {
	padding      : 0.5em 0.75em;
	border       : 1px solid var(--color--primary);
	background   : var(--color--primary);
	color        : #fafafa;
	cursor       : default;
	box-shadow   : 0px 0px 0px 0px rgba(128, 128, 128, 0.2);
	transition   : all 0.3s ease;
	min-width    : 2.3em;
	border-radius: 0.2em;
	position     : relative;
}

.button.active {
	/* background: #444; */
	filter : brightness(90%);
	z-index: -1;

}

input[type="text"],
select,
textarea {
	display           : inline-block;
	float             : left;
	-webkit-appearance: none;
	appearance        : none;
	padding           : 0.5em 0.75em;
	height            : auto;
	width             : auto;
	background        : white;
	border            : 1px solid rgba(128, 128, 128, 0.2);
	box-shadow        : 0px 0px 0px 0px rgba(128, 128, 128, 0.2);
	transition        : all 0.3s ease;
	border-radius     : 0.2em;
}

label {
	display: contents;
}

/* label>div, */
.input-title {
	font-weight: bold;
	padding-top: 0.5em;
	display    : block;
}

label input,
label select,
label textarea {
	width: 100%;
}

select,
option {
	cursor            : default;
	-webkit-appearance: none;
	/* WebKit/Chromium */
	-moz-appearance   : none;
	/* Gecko */

}

input[type="text"]:focus,
select:focus,
textarea:focus,
.button:focus {
	box-shadow: 0px 0px 0px 4px rgba(128, 128, 128, 0.2);
}

select {
	padding-right: 2em;
	background-image:
		linear-gradient(45deg, transparent 50%, gray 50%),
		linear-gradient(135deg, gray 50%, transparent 50%);
	background-position:
		calc(100% - 0.5em - 5px) calc(50% + 1px),
		calc(100% - 0.5em) calc(50% + 1px);
	background-size:
		5px 5px,
		5px 5px;
	background-repeat: no-repeat;
}


select:-moz-focusring {
	color      : transparent;
	text-shadow: 0 0 0 #000;
}


input[type=range] {
	-webkit-appearance: none;
	background        : transparent;
	/* Otherwise white in Chrome */
	margin-top        : 0.5em;
	margin-bottom     : 0.5em;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	box-shadow        : 0px 0px 0px 0px rgba(140, 140, 140, 0);
	border            : none;
	height            : 1em;
	width             : 16px;
	border-radius     : 50%;
	background        : var(--color--primary);
	cursor            : default;
	transform         : translateY(-50%);
	transition        : all 0.3s ease;
}

input[type=range]:focus::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px 4px rgba(140, 140, 140, 0.4);
}

input[type=range]::-webkit-slider-runnable-track {
	width        : 100%;
	height       : 2px;
	cursor       : default;
	box-shadow   : none;
	background   : var(--color--primary);
	border-radius: 3px;
	border       : none;
}

input[type=range]:active::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px 5px rgba(128, 128, 128, 0.5);
}

hr {
	border-top   : 1px solid rgba(128, 128, 128, 0.3);
	margin-top   : 1em;
	margin-bottom: 1em;
}




.main {
	display            : flex;
	min-height         : 100vh;
	/* background-image: linear-gradient(to bottom, #f4ffd9, #d4fff3); */
}

.mainbar {
	flex       : 1;
	overflow   : overlay;
	display    : flex;
	align-items: flex-start;
	height     : 100vh;
}

.mainbar-content-wrapper {
	background-image: linear-gradient(to bottom, #f4ffd9, #d4fff3);
	min-height      : 100%;
	margin          : 0 auto;
	width           : 100%;
}

.mainbar-content-wrapper.mobile {
	width: auto;
}

.mainbar-content {
	width        : 806px;
	padding-left : 16px;
	padding-right: 16px;
	max-width    : 100%;
	margin       : 0 auto;

	display        : flex;
	align-items    : center;
	justify-content: space-around;
	flex-wrap      : wrap;
	margin         : 0px auto;
	position       : relative;
	transition     : width 0.3s ease;
}

.mainbar-content.mobile {
	width: 375px;
}

.sidebar {
	height            : 100vh;
	flex              : 0 0 auto;
	overflow          : overlay;
	display           : grid;
	grid-auto-flow    : row;
	grid-gap          : 0.5em;
	align-items       : start;
	background        : rgba(0, 0, 0, 0.04);
	padding           : 0.75em;
	box-shadow        : 0px 0px 5px rgba(0, 0, 0, 0.3);
	grid-auto-rows    : max-content;
	/* backdrop-filter: blur(10px); */
}

.param-section {
	display          : grid;
	grid-auto-flow   : row;
	grid-auto-columns: 300px;
	grid-row-gap     : 0.5em;
	padding          : 1em 1.5em;
	background       : #fefefe;
	box-shadow       : 0px 0px 5px 2px rgba(0, 0, 0, 0.16);
	border-radius    : 3px;
}



.param-section-header {
	font-size     : 1.05em;
	font-weight   : bold;
	padding-bottom: 0.1em;
	position      : relative;
	display       : flex;
}

.action-buttons {
	font-family: monospace;
	font-size  : 28px;
	margin-left: auto;
	font-weight: 300;
	display    : flex;
	align-items: center;
	height     : 16px;
}

.action-buttons button {
	opacity   : 0.4;
	transition: all 0.3s ease;
	min-width : 1em;
	min-height: 1em;
	display   : inline-block;
}

.action-buttons button:hover {
	opacity: 0.7;
}

.main-buttons {
	position: sticky;
	top     : -10px;
	z-index : 2000;
}

.param-section.apply-filter {
	position: sticky;
	bottom  : -10px;
	z-index : 2000;
}

.close {
	position: absolute;
	right   : 0px;
	top     : 0px;
	width   : 1em;
	height  : 1em;
	opacity : 0.3;
	cursor  : pointer;
}

.close:hover {
	opacity: 1;
}

.close:before,
.close:after {
	position        : absolute;
	left            : 0.5em;
	content         : ' ';
	height          : 1em;
	width           : 2px;
	background-color: var(--color--primary);
}

.close:before {
	transform: translateY(-50%) rotate(45deg);
}

.close:after {
	transform: translateY(-50%) rotate(-45deg);
}

.param-section-header .close {}


.sprite-block {
	filter          : drop-shadow(0 2px 2px rgba(0, 0, 0, 0.16));
	transition      : filter linear 0.3s;
	cursor          : pointer;
	display         : inline-block;
	margin          : 14px 14px;
	/* margin-bottom: 28px; */
	text-align      : center;
	max-width       : calc(50% - 2 * 14px);
}

.mainbar-content.mobile .sprite-block {
	/* flex: 1 1 calc(50% - 2 * 14px); */
}

.sprite-block.square {
	max-width: 25%;
}

.sprite-block img {
	max-width: 100%;
}

.sprite-block-rest {
	flex: 0 1 50%;
}

.sprite-block-add {
	width          : 150px;
	height         : 120px;
	font-size      : 16px;
	font-weight    : bold;
	color          : rgba(0, 0, 0, 0.5);
	display        : flex;
	justify-content: center;
	align-items    : center;
	border-radius  : 20px;
	border         : 3px dashed rgba(0, 0, 0, 0.5);
	margin         : 14px 14px;
	cursor         : pointer;
	opacity        : 0.5;
	transition     : all 0.3s ease;
}

.sprite-block-add:hover {
	opacity: 0.7;
}

.sprite-block:hover {
	filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.16));
}

.sprite-block:active {
	filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.16));
}



::-webkit-scrollbar {
	width     : 9px;
	height    : 9px;
	background: transparent;
}

::-webkit-scrollbar * {
	background: transparent;
}

::-webkit-scrollbar {
	width : 5px;
	height: 5px;
}


::-webkit-scrollbar-button {
	width     : 0px;
	height    : 0px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background   : #999;
	border       : none;
	border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
	background: #aaa;
}

*:hover::-webkit-scrollbar-thumb {
	background: #aaa;
}

::-webkit-scrollbar-thumb:active {
	background: #fff;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
	background   : transparent;
	border       : none;
	border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
	background: transparent;
}

::-webkit-scrollbar-track:active {
	background: transparent;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

.button-group {
	display: flex;
	width  : 100%;
}

.mainbar-title {
	position: fixed;
	top     : 0px;
	z-index : 2000;
}

.order-button-group span {
	flex           : 1;
	display        : flex;
	align-items    : center;
	justify-content: center;
	text-align     : center;
}

.colorpicker input {
	width: 100%;
}

.colorpicker input[type=color] {
	width   : 0px;
	height  : 0px;
	padding : 0;
	margin  : 0;
	border  : 0;
	position: absolute;
	z-index : -1;
	opacity : 0;
}

.colorpicker {
	position   : relative;
	display    : inline-block;
	font-weight: normal;
}

.colorpicker .box {
	position     : absolute;
	display      : inline-block;
	z-index      : 1;
	font-size    : 20px;
	width        : 1em;
	height       : 1em;
	border-radius: 50%;
	background   : rgba(140, 140, 140, 0.2);
	right        : 6px;
	top          : 50%;
	transform    : translateY(-50%);
	box-shadow   : 0px 0px 3px 3px rgba(128, 128, 128, 0.2);
}

.searchbar {
	display         : flex;
	justify-content : center;
	padding-top     : 32px;
	padding-bottom  : 32px;
	gap             : 6px;
	backdrop-filter : blur(4px) brightness(1.05) hue-rotate(12deg);
	background      : rgba(170, 170, 170, 0.01);
	box-shadow      : 0px 1px 2px 1px rgba(255, 255, 255, 0.2), 0px 5px 7px rgba(0, 0, 0, 0.1), inset 0px -3px 5px 1px rgba(255, 255, 255, 0.2);
	position        : sticky;
	z-index         : 1;
	top             : 0px;
	margin-bottom   : 20px;
	background      : #e0e0e066;
	background-image: linear-gradient(180deg, #77ccd222, transparent);
}

.searchbar input {
	text-align: center;
	width     : 300px;
	flex      : 0 0 auto;
}

.mainbar-title .button {
	box-shadow: 0px 0px 4px 2px #0003;
}

.button {
	cursor: pointer;
}